
.navbar{
    background-color: black;
    height: auto;
    justify-content: center;
}
#btn-sesion {
    margin-right: 1%;
    color: white;
    font-size: 15px;
    width: 200px;
    padding-top: 6px;
    text-decoration: none;
   
}
#btn-sesion:hover{
    color: #6F1AB6;
}

#tittle{
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;

}
#categorias{
    padding: 1px;
    margin-right: 40px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
}
.categorias:hover{
    background-color: black;
}
a{
    text-decoration: none; 
}
.dropdown-toggle{
    padding: 6px;
    border-radius: 5px;
    color: white;
    border: 0px;
}
.dropdown-toggle:hover{
    color: #6F1AB6;
}
.todo-buscador{
    display: flex;
    margin-right: auto;
    width: 100%;
    margin-right:  10%;

}
.todo-buscador button{
    background-color: black;
    border: solid;
    
}
.todo-buscador i{
    color: white;
    font-size: 20px;
    margin: 0%;
}
li{
    list-style: none;
  }