
.contenedor-pagina-producto{
    border: dashed;
}
.icono-listadeseos{
    width: 30px;
    height: 30px;
}
.contenedor-imagen-producto{
    border: dashed;
}
.info-producto{
    display: flex;
}
.imagen-producto{
    width: 800px;
    height: 800px;
}
